<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GlobalConnection" connectionString="Data Source=10.36.5.2\scibu;Initial Catalog=Scibu_Globaldatabase;User ID=sa;Password=cali4nia;TransparentNetworkIPResolution=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>